/* Experience */
.home {
	padding: 172px 0 80px 0;
}

.play-icon {
	width: 52px;
	height: 52px;
	position: relative;
}

.play-icon::after {
	content: '';
	position: absolute;
	border-radius: 50%;
	background: var(--co-play-icon);
	width: 84px;
	height: 84px;
	opacity: 0.2;
	flex-shrink: 0;
}

.experience {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.experience__item {
	display: flex;
	align-items: center;
	gap: 12px;
}

.experience__info {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: var(--co-black);
}

.experience__item span {
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
}

.separator {
	height: 8px;
	width: 8px;
}
